#root {
  viewport-fill: black;
  fill: gold;
}

#background {
  x: 0;
  y: 0;
  width:100%;
  height:100%;
  fill:black;
}

#torch {
  x: 0;
  y: 0;
  width:100%;
  height:100%;
  opacity: 0;
  fill:white;
}

#clock{
  y: 190;
}

#time-hour {
  font-size: 90;
  font-family: System-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-190;
  y: 0;
  display: none;
}

#time-colon {
  font-size: 90;
  font-family: System-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-170;
  y: -7;
  display: none;
}

#time-minute {
  font-size: 90;
  font-family: System-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white; 
  x: 100%-60;
  y: 0;
  display: none; 
}

#am-pm {
  font-size: 35;
  font-family: System-Bold;
  text-length: 120;
  text-anchor: end;
  x: 100%-5;
  y: -35;
  fill: white;
  display: none;
}

#second {
  font-size: 35;
  font-family: System-Bold;
  text-length: 120;
  text-anchor: end;
  x: 100%-5;
  y:0;
  fill: white;
  display: none;
}

#hr {
  x: 5;
  y: 30;    
}

#hr-count {
  text-anchor: start;
  font-size: 22;
  font-family: System-Bold;
  fill: #969696;
  text-length: 120;
  x: 40;
  y: 0;
}

#hr-zone {
  text-anchor: start;
  font-size: 22;
  font-family: System-Bold;
  fill: #969696;
  text-length: 120;
  x: 40;
  y: 25;
  display: none;
}

#hr-icon-systole {
  fill: crimson;
  width: 30;
  height: 30;
  x:0;
  y:-10;
}

#hr-icon-diastole {
  fill: crimson;
  width: 38;
  height: 38;
  x:-2;
  y:-12;
}

#battery {
  x: 100%-5;
  y: 30;
  display: none;
}

#battery-icon {
  width: 18;
  height: 18;
  x:-18;
  y:-18;
}

#battery-icon-charge {
  width: 18;
  height: 18;
  x:-18;
  y:-18;
}

#battery-percent {
  text-anchor: end;
  font-size: 22;
  font-family: System-Bold;
  fill: white;
  x: -20;
  y: 0; 
}

#calendar {
  x: 0;
  y: 85;
}

#day {
  x: 50%;
  y: 0;
  font-size: 24;
  text-anchor: middle;
  font-family: System-Bold;
  text-length: 120;
  fill: #969696;
}

#date {
  x: 50%;
  y: 30;
  font-size: 28;
  text-anchor: middle;
  font-family: System-Bold;
  text-length: 120;
  fill: #969696;
}

#steps-straight {
  display: "none";
}

#distance-straight {
  display: "none";
}

#elevationGain-straight {
  display: "none";
}

#calories-straight {
  display: "none";
}

#activeMinutes-straight {
  display: "none";
} 

#battery-straight {
  display: "none";
}
 
#steps-arc {
  display: "none";
}

#distance-arc {
  display: "none";
}

#elevationGain-arc {
  display: "none";
}

#calories-arc {
  display: "none";
}

#activeMinutes-arc {
  display: "none";
} 

#battery-arc {
  display: "none";
} 
  
#steps-ring {
  display: "none";
}

#distance-ring {
  display: "none";
}

#elevationGain-ring {
  display: "none";
}

#calories-ring {
  display: "none";
}

#activeMinutes-ring {
  display: "none";
}

#battery-ring {
  display: "none";
}

#bm {
  display: "none";
}

#bmi {
  display: "none";
}

#bmr {
  display: "none";
}

#bmr-zone {
  text-anchor: middle;
  font-size: 16;
  font-family: System-Bold;
  text-length: 120;
  fill: darkorange;
  x:14%;
  y:10;
}

#bmi-zone {
  text-anchor: middle;
  font-size: 16;
  font-family: System-Bold;
  text-length: 120;
  fill: darkorange;
  x:14%;
  y:25;
}

.icon-noProgress {
  width: 23;
  height: 23;
  x:4;
  y:5;
}

.count-noProgress {
  font-size: 22;
  x: 30;
  y: 25;
  text-length: 10; 
  font-family: System-Bold;
}

.icon {
  width: 20;
  height: 20;
  x:0;
  y:0;
}

.count {
  font-size: 22;
  x: 26;
  y: 15;
  text-length: 10; 
  font-family: System-Bold;
}

.line {
  width: 28%;
  height: 5;
  x:0;
  y:22;
}

.icon-arc {
  width: 15;
  height: 15;
  x:14%-7;
  y:-4;
}

.count-arc {
  font-size: 19;
  x: 14%;
  y: 27;
  text-length: 10; 
  font-family: System-Bold;
  text-anchor: middle;
}

.line-arc {
  width: 28%;
  height: 60;
  x:0;
  y:-10;  
  arc-width: 5;
  start-angle: 245;
  sweep-angle: 225;
}

.icon-ring {
  width: 18;
  height: 18;
  x:8;
  y:8;
}

.count-ring {
  font-size: 21;
  x: 38;
  y: 25;
  text-length: 10; 
  font-family: System-Bold;
}

.line-ring {
  width: 35;
  height: 35;
  x:0;
  y:0;  
  arc-width: 5;
  start-angle: 0;
  sweep-angle: 360;
}
