#root {
  viewport-fill: black;
  fill: palegoldenrod;
}

#background {
  x: 0;
  y: 0;
  width:100%;
  height:100%;
  fill:black;
}

#torch {
  x: 0;
  y: 0;
  width:100%;
  height:100%;
  opacity: 0;
  fill:white;
}

#clock{
  y: 205;
}

#time-hour {
  font-size: 100;
  font-family: System-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-5%-195;
  y: 0;
  display: none;
}

#time-colon {
  font-size: 100;
  font-family: System-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white;
  x: 100%-5%-170;
  y: -7;
  display: none;
}

#time-minute {
  font-size: 100;
  font-family: System-Bold;
  text-length: 60;
  text-anchor: end;
  fill: white; 
  x: 100%-5%-60;
  y: 0;
  display: none; 
}

#am-pm {
  font-size: 40;
  font-family: System-Bold;
  text-length: 55;
  text-anchor: end;
  x: 100%-5%;
  y: -40;
  fill: white;
  display: none;
}

#second {
  font-size: 40;
  font-family: System-Bold;
  text-length: 55;
  text-anchor: end;
  x: 100%-5%;
  y:0;
  fill: white;
  display: none;
}

#hr {
  x: 8%;
  y: 55;    
}

#hr-count {
  text-anchor: start;
  font-size: 22;
  font-family: System-Bold;
  fill: #969696;
  text-length: 120;
  x: 40;
  y: 0;
}

#hr-zone {
  text-anchor: start;
  font-size: 22;
  font-family: System-Bold;
  fill: #969696;
  text-length: 120;
  x: 40;
  y: 25;
  display: none;
}

#hr-icon-systole {
  fill: crimson;
  width: 30;
  height: 30;
  x:0;
  y:-10;
}

#hr-icon-diastole {
  fill: crimson;
  width: 38;
  height: 38;
  x:-2;
  y:-12;
}

#battery {
  display: none;
  width: 50;
  height: 20;
  x:100%-60;
  y:55;
}

.battery-icon {
  width: 18;
  height: 18;
  x:10;
  y:-18;
}

#battery-percent {
  text-anchor: end;
  font-size: 22;
  font-family: System-Bold;
  fill: white;
  x: 8;
  y: 0;
  text-length: 10;
}

#calendar {
  display:inline;
  x: 5;
  y: 105;
}

#day {
  x: 50%;
  y: 0;
  font-size: 22;
  text-anchor: middle;
  font-family: System-Bold;
  text-length: 120;
  fill: #969696;
}

#date {
  x: 50%;
  y: 25;
  font-size: 22;
  text-anchor: middle;
  font-family: System-Bold;
  text-length: 120;
  fill: #969696;
}

#steps {
  display: "none";
}

#distance {
  display: "none";
}

#bm {
  display: "none";
}

#elevationGain {
  display: "none";
}

#calories {
  display: "none";
}

#activeMinutes {
  display: "none";
} 

#activeMinutesWeek {
  display: "none";
} 
 
#steps-arc {
  display: "none";
}

#distance-arc {
  display: "none";
}

#bm-arc {
  display: "none";
}

#elevationGain-arc {
  display: "none";
}

#calories-arc {
  display: "none";
}

#activeMinutes-arc {
  display: "none";
} 

#activeMinutesWeek-arc {
  display: "none";
} 
 
#steps-ring {
  display: "none";
}

#distance-ring {
  display: "none";
}

#bm-ring {
  display: "none";
}

#elevationGain-ring {
  display: "none";
}

#calories-ring {
  display: "none";
}

#activeMinutes-ring {
  display: "none";
}

#activeMinutesWeek-ring {
  display: "none";
}

#bmr-zone {
  text-anchor: middle;
  font-size: 16;
  font-family: System-Bold;
  text-length: 120;
  fill: darkorange;
  x:14%;
  y:10;
  display: none;
}

#bmi-zone {
  text-anchor: middle;
  font-size: 16;
  font-family: System-Bold;
  text-length: 120;
  fill: darkorange;
  x:14%;
  y:25;
  display: none;
}

.icon {
  width: 20;
  height: 20;
  x:0;
  y:0;
}

.count {
  font-size: 22;
  x: 26;
  y: 15;
  text-length: 10; 
  font-family: System-Bold;
}

.line {
  width: 28%;
  height: 5;
  x:0;
  y:22;
}

.icon-arc {
  width: 15;
  height: 15;
  x:14%-7;
  y:-4;
}

.count-arc {
  font-size: 18;
  x: 14%;
  y: 25;
  text-length: 10; 
  font-family: System-Bold;
  text-anchor: middle;
}

.line-arc {
  width: 28%;
  height: 60;
  x:0;
  y:-10;  
  arc-width: 5;
  start-angle: 245;
  sweep-angle: 225;
}

.icon-ring {
  width: 16;
  height: 16;
  x:8;
  y:8;
}

.count-ring {
  font-size: 21;
  x: 36;
  y: 25;
  text-length: 10; 
  font-family: System-Bold;
}

.line-ring {
  width: 33;
  height: 33;
  x:0;
  y:0;  
  arc-width: 5;
  start-angle: 0;
  sweep-angle: 360;
}
